body{
  margin:0;
}
h1, h2, h3{
  font-family: Roboto ,sans-serif;
  text-align: center;
}
h1, h2{
  font-weight: 900;
}
h2{
  margin:0 0 5px 0; 
  font-size:22px; 
  line-height:normal;
  text-transform:uppercase;
  text-align: center; 
  color: #474747;
  padding:0px 0px 0px;
  line-height: 1.5em;
  position:relative;
}

/*    Title    */
.Title{
  margin:0;
  padding:0;
  width: 100%;
  height: 50vw;
  background: url('../img/top_img.jpg') no-repeat 50% 50%;
  filter: saturate(50%);
  background-size: cover; 
  padding-top: 10vw;
}

.Title div.caption{
  width:70%;
  border-radius: 8px;
  box-shadow: 0 0 32px rgba(0,0,0,0.5);
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(30,30,30, .5);
  padding-bottom: 30px;
}

.Title .caption .cap_text{
  padding:10px;
}

.Title .caption h1.mean_cap{
  font-size: 4vw;
  color: #fff;
  text-transform: uppercase;
  line-height: 5vw;
  letter-spacing: 2px;
}

.Title .caption .sub_cap{
  font-size: 3vw;
  color: #fff;
  text-transform: uppercase;
  line-height: 5vw;
  margin-bottom: 5vw;
}

.Title .caption .btn_details span{
  display: inline-block;
  color: #fff;
  font-size: 1.5vw;
  letter-spacing: .5px;
  position: relative;
  margin-right: 5px;
  border-bottom: 1px dashed #ffffff;
  animation: Test 1s infinite;
  animation-name: Test;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}

/*    presentation    */

.presentation{
  /*padding: 30px 0;*/
  padding: 15px 30px 90px 30px; 
  background-color: #F5F5F5;
}

.presentation .sub_title{
  color: #454545;
  font-size: 16px;
  text-align: center;
  align-items: center;
  
}

* {
  box-sizing: border-box;
}

.presentation .main_title::after{display:block; position:absolute; bottom:0; left:50%; width:50px; height:2px; margin-left:-25px; content:"";}

.presentation .sub_title{
  color: #454545;
  font-size: 16px;
  text-align: center;
  align-items: center;
}

.presentation .for_border{
	border-top:2px solid #A9A9A9;
	width:5%;
	align-items:center;
	margin: auto;
	margin-bottom:30px;
	margin-top:0px;
	padding-top:0px;
	border-radius: 8px;
}


li.li_pres_subjects{
  padding-left: 2vw;
  font-weight: bold;
  list-style-type: none;
  margin-bottom: 5px;
}
li.li_pres_subjects a:hover{
  text-decoration: none;
}

li.li_pres_subjects:hover{
  text-decoration:none;
}
div.li_pres_subjects_text{
  display:inline;
  font-size:16px;
  font-weight:normal;
  color:#696969;
  font-size:13pt;
  -webkit-transition:  font-size 0.3s;
  -moz-transition: font-size 0.3s;
  -o-transition:  font-size 0.3s;
  transition:  font-size 0.3s;
}
div.li_pres_subjects_text:hover{
  font-size: 22px;
  color: #ffffff;
}
div.li_pres_subjects_text.active{
  font-size: 22px;
  color: #ffffff;
}

div.txt_right{
  display: none;
}
div.txt_right.active{
  display: block;
}

/*    Historique    */

.historique{
	margin:0px;
	padding: 15px 30px 90px 30px; 
  background-size: cover; 
  text-align: center;
  align-items: center;
  background-color: #FFFFFF;
}

.historique .for_border{
	border-top:2px solid #A9A9A9;
	width:5%;
	align-items:center;
	margin: auto;
	margin-bottom:30px;
	margin-top:0px;
	padding-top:0px;
	border-radius: 8px;
}

/* Maps section */
.map{ 
  margin:0px;
  padding: 15px 30px 90px 30px; 
  background-size: cover;
  text-align: center;
  align-items: center; 
  background-color: #F5F5F5;
}

.map .for_border{
  border-top:2px solid #A9A9A9;
  width:5%;
  align-items:center;
  margin: auto;
  margin-bottom:30px;
  margin-top:0px;
  padding-top:0px;
}


/*    Survey    */

.survey{
  padding: 15px 30px 90px 30px; 
  background-size: cover; 
  text-align: center;
  align-items: center;
}

.survey .monkey_surv{
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.survey .for_border{
	border-top:2px solid #A9A9A9;
	width:5%;
	align-items:center;
	margin: auto;
	margin-bottom:30px;
	margin-top:0px;
	padding-top:0px;
	border-radius: 8px;
}

/*    nuagesmots    */

.csslider {
  -moz-perspective: 1300px;
  -ms-perspective: 1300px;
  -webkit-perspective: 1300px;
  perspective: 1300px;
  display: inline-block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;

}
.csslider > input {
  display: none;
}
.csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
  margin-left: -900%;
}
.csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
  margin-left: -800%;
}
.csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
  margin-left: -700%;
}
.csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
  margin-left: -600%;
}
.csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
  margin-left: -500%;
}
.csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
  margin-left: -400%;
}
.csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
  margin-left: -300%;
}
.csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
  margin-left: -200%;
}
.csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
  margin-left: -100%;
}
.csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
  margin-left: 0%;
}
.csslider > ul {
  position: relative;
  width: 950px;
  height: 350px;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  background-color: #f2f2f285;
  /*border: 10px solid #d1d1d1;*/
  margin: 0 auto;
  padding: 1px;
  overflow: hidden;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 33px;
}
.csslider > ul > li {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
 
}
.csslider > ul > li.scrollable {
  overflow-y: scroll;
}
.csslider > .navigation {
  position: absolute;
  bottom: -10px;
  left: 50%;
  z-index: 10;
  margin-bottom: -10px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.csslider > .navigation > div {
  margin-left: -100%;
}
.csslider > .navigation label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 2px;
  padding: 5px;
  background: #d1d1d1;
}
.csslider > .navigation label:hover:after {
  opacity: 1;
}
.csslider > .navigation label:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3px;
  margin-top: -3px;
  background: #0097ef;
  border-radius: 50%;
  padding: 3px;
  opacity: 0;
}
.csslider > .arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.csslider.inside .navigation {
  bottom: 10px;
  margin-bottom: 10px;
}
.csslider.inside .navigation label {
  border: 1px solid #7e7e7e;
}
.csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
.csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
.csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after,
.csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after,
.csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5):after,
.csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6):after,
.csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7):after,
.csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8):after,
.csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9):after,
.csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10):after,
.csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11):after {
  opacity: 1;
}
.csslider > .arrows {
  position: absolute;
  left: -31px;
  top: 50%;
  width: 100%;
  height: 26px;
  padding: 0 31px;
  z-index: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.csslider > .arrows label {
  display: none;
  position: absolute;
  top: -50%;
  padding: 13px;
  box-shadow: inset 2px -2px 0 1px #d1d1d1;
  cursor: pointer;
  -moz-transition: .15s;
  -o-transition: .15s;
  -webkit-transition: .15s;
  transition: .15s;
}
.csslider > .arrows label:hover {
  box-shadow: inset 3px -3px 0 2px #0097ef;
  margin: 0 0px;
}
.csslider > .arrows label:before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  height: 300%;
  width: 300%;
}
.csslider.infinity > input:first-of-type:checked ~ .arrows label:last-of-type,
.csslider > input:nth-of-type(1):checked ~ .arrows label:nth-of-type(0),
.csslider > input:nth-of-type(2):checked ~ .arrows label:nth-of-type(1),
.csslider > input:nth-of-type(3):checked ~ .arrows label:nth-of-type(2),
.csslider > input:nth-of-type(4):checked ~ .arrows label:nth-of-type(3),
.csslider > input:nth-of-type(5):checked ~ .arrows label:nth-of-type(4),
.csslider > input:nth-of-type(6):checked ~ .arrows label:nth-of-type(5),
.csslider > input:nth-of-type(7):checked ~ .arrows label:nth-of-type(6),
.csslider > input:nth-of-type(8):checked ~ .arrows label:nth-of-type(7),
.csslider > input:nth-of-type(9):checked ~ .arrows label:nth-of-type(8),
.csslider > input:nth-of-type(10):checked ~ .arrows label:nth-of-type(9),
.csslider > input:nth-of-type(11):checked ~ .arrows label:nth-of-type(10) {
  display: block;
  left: 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.csslider.infinity > input:last-of-type:checked ~ .arrows label:first-of-type,
.csslider > input:nth-of-type(1):checked ~ .arrows label:nth-of-type(2),
.csslider > input:nth-of-type(2):checked ~ .arrows label:nth-of-type(3),
.csslider > input:nth-of-type(3):checked ~ .arrows label:nth-of-type(4),
.csslider > input:nth-of-type(4):checked ~ .arrows label:nth-of-type(5),
.csslider > input:nth-of-type(5):checked ~ .arrows label:nth-of-type(6),
.csslider > input:nth-of-type(6):checked ~ .arrows label:nth-of-type(7),
.csslider > input:nth-of-type(7):checked ~ .arrows label:nth-of-type(8),
.csslider > input:nth-of-type(8):checked ~ .arrows label:nth-of-type(9),
.csslider > input:nth-of-type(9):checked ~ .arrows label:nth-of-type(10),
.csslider > input:nth-of-type(10):checked ~ .arrows label:nth-of-type(11),
.csslider > input:nth-of-type(11):checked ~ .arrows label:nth-of-type(12) {
  display: block;
  right: 0;
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
/*#region MODULES */
/*#endregion */

/*     Call to action     */

.cta{
  text-align: center;
  padding: 15px 30px 90px 30px; 
}

.cta .for_border{
	border-top:2px solid #A9A9A9;
	width:5%;
	align-items:center;
	margin: auto;
	margin-bottom:30px;
	margin-top:0px;
	padding-top:0px;
	border-radius: 8px;
}

.cta .sub_title{
  color: #454545;
  font-size: 16px;
  text-align: center;
  align-items: center;
}

.cta .btn_fancy{
  margin-top: 60px;
}

.cta .partage{
  color: #454545;
  font-size: 25px;
  text-align: center; 
  margin-bottom: 10px;
}

/* text */ 
.titre_fact {
  font-size: 19px;
    margin-bottom: 24px;
    margin-top: 14px;
    text-align: center;
}

.text_funny {
  font-size: 15px;
  text-align: justify;
  margin-left: 30px;
    margin-right: 30px;
}

.text_funny2 {
  font-size: 15px;
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
  font-style: normal;
  font-variant: normal;
  line-height: 20px;
}

.text_funny3 {
  font-style: normal;
  font-size: 15px;
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
  font-style: normal;
  font-variant: normal;
}

.text_funny4 {
  font-style: normal;
  font-size: 15px;
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
  font-style: normal;
  font-variant: normal;
}

.text_funny5 {
  font-style: normal;
  font-size: 15px;
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
  font-style: normal;
  font-variant: normal;
}

.text_funny6 {
  font-style: normal;
  font-size: 15px;
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
  font-style: normal;
  font-variant: normal;
}


img.wrapdroite {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

img.wrapgauche {
  float: left;
  margin-right: 10px;
  margin-left: 20px;
}

img.wrapcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 40%;
}

/* quote */ 
blockquote {
font-size: 14px;
font-style: italic;
width: 500px;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
margin-left: 50px;
}

blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -5px;
top: -20px;
color: #7a7a7a;
}

blockquote cite {
color: #999999;
font-size: 12px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}

.text_para{
  color: #454545;
  font-size: 16px;
  text-align: center;
  align-items: center;
}

/* Participation */
.participation{
  padding: 15px 30px 90px 30px; 
  background-color: #F5F5F5;

}

.participation .for_border{
	border-top:2px solid #A9A9A9;
	width:5%;
	align-items:center;
	margin: auto;
	margin-bottom:30px;
	margin-top:0px;
	padding-top:0px;
	border-radius: 8px;
}



.mt-n25{
margin-top: -28px;
}